@using ContosoUniversityCore.Features
@using ContosoUniversityCore.Features.Student
@model Delete.Command

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p class="error">@ViewBag.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayLabel(model => model.LastName)
        </dt>

        <dd>
            @Html.Display(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayLabel(model => model.FirstMidName)
        </dt>

        <dd>
            @Html.Display(model => model.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayLabel(model => model.EnrollmentDate)
        </dt>

        <dd>
            @Html.Display(model => model.EnrollmentDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.Input(model => model.ID)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", nameof(StudentController.Index))
        </div>
    }
</div>
