@using ContosoUniversityCore.Features
@using ContosoUniversityCore.Features.Department
@model Edit.Command

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Department</h4>
        <hr />
        @Html.ValidationDiv()
        @Html.Input(model => model.Id)
        @Html.Input(model => model.RowVersion)

        @Html.FormBlock(m => m.Name)
        @Html.FormBlock(m => m.Budget)
        @Html.FormBlock(m => m.StartDate)
        @Html.FormBlock(m => m.Administrator)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", nameof(DepartmentController.Index))
</div>

